opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-aws-lambda
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-requests
requests
